<div class="row">
    <div class="card">
    <div class="card-content">
        <span class="card-title">Agregar Usuario</span>
        <div class="divider"></div>
        <form action="">
        <div class="row">
            <div class="form-group">
            <label for="">Nombre:</label>
            <input
                [(ngModel)]="usuario.nombreUsuario"
                name="nombreUsuario"
                type="text"
                class="form-control"
            />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
            <label for="">Email</label>
            <input name="email" type="text" [(ngModel)]="usuario.email" />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
            <label for="">Contraseña:</label>
            <input name="contrasena" type="text" [(ngModel)]="usuario.contrasena" />
            </div>
        </div>

        <div class="row">
            <div class="form-group">
            <label for="">Tipo de tienda:</label>
            <input name="tipoTienda" type="text" [(ngModel)]="usuario.tipoTienda" />
            </div>
        </div>

        <div class="row">
            <div class="form-group">
            <label for="">Identificación:</label>
            <input name="identificacion" type="text" [(ngModel)]="usuario.identificacion" />
            </div>
        </div>
        </form>
        <div class="card-action center">
        <button (click)="guardar()" class= "waves-effect waves-light btn red lighten-2" >
            Guardar
        </button>
        </div>
    </div>
    </div>
</div>
