<div class="row">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Agregar Producto</span>
      <div class="divider"></div>
      <form action="">
        <div class="row">
          <div class="form-group">
            <label for="">Nombre:</label>
            <input
              [(ngModel)]="producto.nombreProducto"
              name="nombreProducto"
              type="text"
              class="form-control"
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="">Categoría:</label>
            <input name="categoria" type="text" [(ngModel)]="producto.categoria" />
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="">Proveedor:</label>
            <input name="proveedor" type="text" [(ngModel)]="producto.proveedor" />
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label for="">Precio Unitario:</label>
            <input name="precioUnitario" type="text" [(ngModel)]="producto.precioUnitario" />
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label for="">Precio:</label>
            <input name="precio" type="text" [(ngModel)]="producto.precio" />
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label for="">Fecha Vencimiento:</label>
            <input name="fechaVencimiento" type="text" [(ngModel)]="producto.fechaVencimiento"/>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="">Unidades:</label>
            <input name="unidad" type="text" [(ngModel)]="producto.unidad" />
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="">Usuario:</label>
            <input name="usuario" type="text" [(ngModel)]="producto.usuario" />
          </div>
        </div>
      </form>
      <div class="card-action center">
        <button (click)="guardar()" class= "waves-effect waves-light btn red lighten-2" >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
